.kullanicigirisi-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.kullanicigirisi-header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-end;
  background-color: var(--dl-color-gray-500);
}
.kullanicigirisi-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kullanicigirisi-container2 {
  flex: 0 0 auto;
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.kullanicigirisi-ana-men {
  text-decoration: none;
}
.kullanicigirisi-container3 {
  flex: 0 0 auto;
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.kullanicigirisi-kullanc-girii {
  text-decoration: none;
}
.kullanicigirisi-container4 {
  width: 100%;
  height: var(--dl-size-size-maxwidth);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.kullanicigirisi-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.kullanicigirisi-alerjenleriniz {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.kullanicigirisi-alerjenleriniz1 {
  font-size: 22px;
  line-height: 2;
}
.kullanicigirisi-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 991px) {
  .kullanicigirisi-alerjenleriniz {
    width: 100%;
    justify-content: center;
  }
  .kullanicigirisi-alerjenleriniz1 {
    line-height: 2;
  }
  .kullanicigirisi-textinput {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .kullanicigirisi-alerjenleriniz {
    width: 100%;
    justify-content: center;
  }
  .kullanicigirisi-alerjenleriniz1 {
    font-size: 22px;
    align-self: center;
    line-height: 2;
  }
}
@media(max-width: 479px) {
  .kullanicigirisi-container4 {
    height: 520px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .kullanicigirisi-alerjenleriniz {
    width: 100%;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .kullanicigirisi-alerjenleriniz1 {
    line-height: 2;
  }
}
